@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .img-hover {
    @apply transition ease-in-out duration-300 hover:scale-110;
  }
  .container-fluid {
    @apply max-w-screen-2xl mx-auto;
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/** Zapne tmavý režim
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));

  background-position: center top;
  background-image: url(./img/background.png);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  /* font-family: Calibri; */
  /* font-size: 18px; */
  /* color: white; */

  /* height: 100vh; */
}

.myBackround {
  background: -webkit-linear-gradient(
    left,
    rgba(240, 255, 255, 1) 2%,
    rgba(240, 255, 255, 0) 140%
  );
  flex: 1; /* Add this line to make the content stretch to fill the available space */
  min-height: calc(100vh - 160px);
}
